body {
    background-color: black;
    color: violet;
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 150px;
    color: darkmagenta;
}

#greetings {
    text-align: center;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

#button {
    margin: auto;
    width: 50%;
    text-align: center;
}

#button p {
    font-size: 1.5em;
}

#button:hover {
    cursor: pointer;
}